
Debug/

*.layout

*.depend

obj/

Release/

*.save

TensorNetworksUnittests/gmon.out

ReleaseLong/

*.s

*.cscope_file_list

Operators/gmon.out

TensorNetworksUnittests/ValgrindOut.xml

TensorNetworksUnittests/gprof.out

*.lyx~

*.bak

*.lyx#

*.sav
